<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EricJuli.us</title>
    {{> head}}
  </head>
  <body>
    {{> header}}
    <div class="card">
      <div class="card-title">
        Hi.
      </div>
      <div class="card-body">
        Welcome to my site. There's more to come.
      </div>
    </div>
    {{> footer}}
  </body>
</html>
