* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  font-family: sans-serif;
  background-color: #eee;
  margin: auto;
  text-align: center;
}
header {
  margin: 1vh;
}
footer {
  font-size: 0.75em;
  margin: 1vh;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
